body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

.container {
  display:  flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  font-size: 4rem;
  text-align: center;
}

.message {
  font-size: 2rem;
  min-height: 1.3rem;
  margin-bottom: 0.5rem;

}